.logo {
    width: 120%;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    
}

.navbar-brand {
    margin-left: 15%;
    max-width: 100px;
}

.navbar-nav {
    margin-right: 10%;
}

.main {
    padding-top: 20px;
    background-color: #C1E3DA;
    padding-bottom: 20px;
}

.back-button {
    margin-left: 10%;
}

.sign-up {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-area {
    padding-top: auto;
}

.progress {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
}

.step-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step-text {
    text-align: center;
}

#next-button {
    text-align: center;
    
}
.footer{
    padding-top: 10px;
    font-size: .5;
}

@media (mid-width: 992px)
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        ;
}